.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 2rem;
  padding-left: 2rem;
}

.Menu {
  padding: 1rem;
  padding-left: 12rem;
}

.body-text{
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-weight: '300';
}

