.App {
}

/*.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 2rem;
  padding-left: 2rem;
}

*/

.navbar {
  width: 68%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;

}

.sections-wrap {
    margin-right: 16rem;
    display: flex;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    right: 0;
}

.sections {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.sections li a {
  color: #464646;
  padding: 0.6rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

:root {
  --mainColor: transparent;
}

a {
  color: #464646;
  text-decoration: none;
  
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  color: #464646;
  font-weight: bold;
}

.projects-grid {
  width: 68%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
}


.hamburger {
  background-color: transparent;
  border: 0;
  color: #FF8F00;
  cursor: pointer;
  font-size: 10rem;
  margin-top: -6rem;
  margin-left: 16rem;
  display: none;
}

.hambuger:focus {
  outline: none;
}

.subheading1 {
  color: #FF8F00;
  font-size: 3rem;
  width: 68%;
  margin: auto;
  padding-bottom: 1rem;
  font-weight: bold;
}

.body-text{
  font-size: 1.6rem;
  width: 68%;
  margin: auto;
  font-weight: '300';
  color: #464646;
}

.subheading2 {
  padding-top: 8rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #464646;
  width: 68%;
  margin: auto;
  padding-bottom: 2rem;
}

.specialSize {
  display: inline;
  font-size: 2rem;
}

.research-wrap {
  width: 68%;
  margin: auto;
}

.footer { 
  padding-top: 6rem;
  display: flex;
  width: 68%;
  margin: auto;
}

.social {
  padding-top: 1.5rem;
  padding-right: 2rem;
}


.divider {
  padding-top: 1.5rem;
  padding-right: 2rem;
}

.footer-copyright {
  flex-grow: 7;
  direction: rtl;
  color: #464646;
  font-weight: '300';
}

.bio-header {
  font-weight: bold;
  font-size: 1.8rem;
  color: #FF8F00;
}

.about-bio {
  width: 50%;
  margin: auto;
  color: #464646;
  font-weight: lighter;
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .sections {
    display: none;
  }
  .hamburger {
    display: block;
  }


}
