.App {
}

/*.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 2rem;
  padding-left: 2rem;
}

*/

.navbar {
  padding-right: 16rem;
  padding-left: 16rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

}

.sections-wrap {
    margin-right: 16rem;
    display: flex;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    right: 0;
}

.sections {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.sections li a {
  color: #464646;
  padding: 0.6rem 2rem;
  text-decoration: none;
  font-size: 1.1rem;
}

:root {
  --mainColor: transparent;
}

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0.2rem 0.2rem;
  color: #464646;
  text-decoration: none;
  
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

li:hover a {
  color: #464646;
  font-weight: bold;
}

li:visited a {
  color: green;
}

.projects-grid {
  padding-left: 16rem;
  padding-right: 16rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
}


.hamburger {
  background-color: transparent;
  border: 0;
  color: #FF8F00;
  cursor: pointer;
  font-size: 10rem;
  margin-top: -6rem;
  margin-left: 16rem;
  display: none;
}

.hambuger:focus {
  outline: none;
}

.subheading1 {
  color: #FF8F00;
  font-size: 3rem;
  padding-left: 16rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.body-text{
  font-size: 1.4rem;
  padding-left: 16rem;
  padding-right: 16rem;
  font-weight: '300';
  color: #464646;
}

.subheading2 {
  padding-top: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #464646;
  padding-left: 16rem;
  padding-bottom: 2rem;
}

.specialSize {
  display: inline;
  font-size: 2rem;
}


.image {
  display: block;
  height: 18.8rem;
  padding-left: 1.4rem;
  padding-bottom: 2rem;
}

.overlay {
  position: absolute;
  top: 28rem;
  bottom: 0;
  left: -2rem;
  height: 19.4rem;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.project:hover .overlay {
  opacity: 1;
}

.title {
  color: #98b5ef;
  font-size: 20px;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
  font-weight: '400';
}

.subtitle {
  color: #98b5ef;
  font-size: 20px;
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.8rem;
  font-weight: '300';
}

.footer { 
  padding-top: 6rem;
  padding-right: 16rem;
}

.footer-text {
  direction: rtl;
  color: #464646;
  font-weight: '300';
}

@media screen and (max-width: 767px) {
  .sections {
    display: none;
  }
  .hamburger {
    display: block;
  }

  
}
